---
layout: "base.njk"
eleventyImport:
  collections: ["posts"]
---

<article class="homepage">
  <h1>Recent Posts</h1>

  <ul class="post-list">
  {% for post in collections.post | reverse %}
  <!--
    <li>
      <p>
        <h2 class="post-title"><a href="{{post.url}}">{{post.data.title}}</a></h2>
        <time>{% formatdatefull post.page.date %}</time>
        <p class="post-excerpt">{{post.page.excerpt}}</p>
        <p class="continue-reading"><a href="{{post.url}}">[ . . . ]</a></p>
      </p>
    </li>
  -->

  {% include "post-preview.njk" %}

  {% endfor %}
  </ul>
</article>
