@charset "UTF-8";

body,
html {
  /*background: #1b1a1a;*/
  background: #1D1D1D;
  font-family: sans-serif;
  font-size: 16px;
  color: #c5c9c5;
  height: 100%;
  line-height: 1.5;
}

a {
  color: #8470FF;
}

main a:visited {
  color: #AB1BDF;
}

body {
  overflow-x: hidden;
  margin: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #282727;
  box-shadow: 0 0 10px #12120f;
  height: 80px;

  padding: 0;
  
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.centered {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

header a {
  color: inherit;
}


header > div.container {
  position: relative;
  max-width: 700px;
  padding: 0 10px;
  height: 4rem;
}

header .container h1 {
  margin: 0.2rem 0;
  align-self: flex-start;
}

header .container a:hover {
  color: #8470FF;
}

header .main-nav {
  align-self: flex-end;
}

.main-nav {
  margin: 0 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

main {
  display: block;
  text-align: justify;
  max-width: 700px;
  overflow-wrap: break-word;
  padding-top: 5rem;
  margin: auto;
  padding-left:1rem;
  padding-right:1rem;
}

time {
  color: DimGray;
}

article .post-header {
  display: block;
}

article .post-header h1 {
  margin-bottom: 0;
}

.post-title {
  margin-bottom: 0;
}

.post-excerpt {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.continue-reading,
.continue-reading:visited {
  color: DimGrey;
}

.continue-reading:hover {
  color: #8470FF;
}

.time-tags {
  display: flex;
}

article .time-tags > time {
  display: block;
  /*font-size: 0.8em;*/
  color: DimGray;
  margin-right: auto;
  margin-bottom: auto;
  text-align: center;
}

article .post-header .post-tags {
  margin-left: auto;
  margin-bottom: auto;
  margin-top: 0;
}

article .post-list li {
  list-style-type: none;
}

.tag-list {
  list-style-type: none;
}

.homepage li {
  margin-bottom: 30px;
}

.homepage li > time {
  text-align: center
}

.page-nav a,
.page-nav a:visited {
  color: #8470ff;
}

.page-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#current-page {
  color: DimGray;
}

.page-nav-pages {
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: bottom;
}

.previous-page {
  margin-right: auto;
}

.next-page {
  margin-left: auto;
}

footer {
  text-align: center;

  position: relative;
  width: 100%;
  height: 5rem;
  bottom: 0;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  color: #65696555;
}

code {
  background: #181616;
  border-radius: 5px;
  border: 1px solid #2f2f2f;
  font-family: monospace;
  font-size: 14px;
  color: #c5c9c5;
  padding: 1px;
}

pre code {
  display: block;
  /*box-shadow: 0 0 3px #000000FF;*/
  overflow-x: auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom:10px;
}

/* Code theme */

/*
.hljs-subst {}

.hljs-formula,
.hljs-attr,
.hljs-property,
.hljs-params {}
*/

.hljs-comment {
  color: #737c73;
}
.hljs-punctuation {
  color: #c5c;
}

.hljs-name,
.hljs-keyword {
  color: #8992a7;
}

.hljs-string {
  color: #8a9a7b;
}

.hljs-number {
  color: #a292a3;
}

.hljs-attr,
.hljs-type {
  color: #8ea4a2;
}

.hljs-punctuation {
  color: #9e9b93;
};

.hljs-deletion {
  color: #880000;
}

.hljs-quote,
.hljs-selector-id,
.hljs-selector-class,
.hljs-title,
.hljs-tag {
  color: #8ba4b0;
}

.hljs-section {
  color: #880000;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #ab5656;
}

.hljs-literal {
  color: #b6927b;
}

.hljs-addition {
  color: #397300;
}

.hljs-template-tag,
.hljs-template-variable,
.hljs-meta,
.hljs-operator,
.hljs-meta .hljs-keyword {
  color: #c4746e;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
