---
layout: base.njk
pagination:
  data: collections.tags
  size: 1
  alias: tag
permalink: "/tags/{{ tag | slugify }}/index.html"
---

<article>
  <h2>Posts with tag: {{tag}}</h2>
  {% set posts = collections.post | filterByTag(tag) %}
  <ul class="post-list">
  {% for post in posts %}
  {% include "post-preview.njk" %}
  {% endfor %}
  </ul>
  <!-- please listen to Cirith Ungol they're a criminally underrated band -->
</article>
