---
layout: base.njk
---

<article>
  <h1>All Tags</h1>
  <ul class="tag-list">
  {% for tag in collections.tags %}
    {% set posts = collections.post | filterByTag(tag) %}
    <li>
      <a class="underline" href="/tags/{{ tag | slugify }}/index.html">{{tag}}</a>
      ({{posts | length}})
    </li>
  {% endfor %}
  </ul>
</article>
